@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
*,::before,::after{ margin: 0; box-sizing: border-box;}
a{ text-decoration: none;}
img{ vertical-align: bottom;}
button{ padding: 0; cursor: pointer;}
:disabled{ cursor:not-allowed;}
ul{ list-style: none; padding: 0;}


html{
    font-size: 15px;
    --rob: "Roboto", sans-serif;
    --mont: "Montserrat", sans-serif;
    --kus: "Kaushan Script", cursive;
    --y:#fce38a;
    --r:#f38181;
    --g:#95e1d3;
    --grad:linear-gradient(to bottom, #f38181, #fce38a);
}
body{font: 16px/1.2 var(--rob);}
.kus{ font-family: var(--kus);}


.container{
    max-width: 1230px;
    margin: auto;
    padding: 0 1rem;
}
.row{
    display: flex;
    flex-flow: row wrap;
    margin: 0 -1rem;
}

[class^="col-"]{ flex: 1 0 auto; padding: 0 1rem;}
.col-1{ flex-basis: 8.33%; max-width: 8.33%;}
.col-2{ flex-basis: 16.66%; max-width: 16.66%;}
.col-3{ flex-basis: 25%; max-width: 25%;}
.col-4{ flex-basis: 33.3339%; max-width: 33.3339%;}
.col-5{ flex-basis: 41.66%; max-width: 41.66%;}
.col-6{ flex-basis: 50%; max-width: 50%;}
.col-7{ flex-basis: 58.33%; max-width: 58.33%;}
.col-8{ flex-basis: 66.66%; max-width: 66.66%;}
.col-9{ flex-basis: 75%; max-width: 75%;}
.col-10{ flex-basis: 83.33%; max-width: 83.33%;}
.col-11{ flex-basis: 91.66%; max-width: 91.66%;}
.col-12{ flex-basis: 100%; max-width: 100%;}
.flex{ display: flex;}
.justify-right{ justify-content: right; }
.justify-space-bet{ justify-content: space-between; }
.align-center{ align-items: center;}

/* custom */
h1, h2, h3, h4{font-family: var(--mont); }
h1{ font-size: 30px;}
.wrap-1{ background: url(../img/bg-1.webp) no-repeat center top/cover; color: #fff; padding: 28px 0;}
.wrap-1 a{ color: inherit;}
.wrap-1 nav li{ margin: 0 28px; }
.wrap-1 nav a{ font-size: 14px; font-weight: 400; display: block; line-height: 30px; border-bottom: 3px solid transparent; }
.wrap-1 nav a.active{ color: var(--y); border-block-color: var(--y);}
.icons li{ margin: 0 28px;}
.icons a{font-size: 14px; font-weight: 400; display: block; line-height: 30px;}
.menu{ width: 60px; height: 35px; background: none; border: 2px solid #fff; border-radius: 5px; display: none; }
.menu span{ display: block; height: 2px; background: #fff; margin: 5px; }
.slides{ text-align: center; padding: 152px 180px;}
.slide{ display: none; }
.slide.active{ display: block;}
.wrap-1 .kus{ font-family: var(--kus); font-size: 72px;}
.wrap-1 .lg{ font: 700 10rem/9rem var(--mont); text-transform: uppercase; margin-top: 40px;}
.sep{ width: 60px; height: 3px; background: var(--r); margin: 2rem auto; }
.wrap-1 .sep{ background: #fff;}
.slide a{ display: block; margin: auto; width: 160px; border: 3px solid; color: inherit;  font: 700 14px/34px var(--mont);}
.pager .progress{ height: 3px; background: #fff; margin-bottom: 24px; position: relative;}
.pager .progress::after{content: ''; background: var(--r); position: absolute; left: 0; bottom: 0; top: 0; width: 0;}
.pager .active .progress::after{ animation: prog 5s 1 linear;}
.pager p{ font-size: 18px;}
.pager p b{ font-size: 24px;}
@keyframes prog{
    0%{ width: 0;}
    100%{ width: 100%;}
}


.wrap-2{ padding: 90px 0 80px; background: #fff; text-align: center; color: #333;}
section .kus{ font-size: 24px;}
section  h2{ font-size: 30px; margin: 23px 0 41px;} 
.para{ font: 15px/24px var(--rob); color: #999;}
.about{ position: relative; margin-bottom: 2rem; }
.about figcaption{ position: absolute; inset: 0; background: var(--grad); opacity: .9; place-items: center; color: #fff; display: grid; transition: .3s; opacity: 0; visibility: hidden; }
.img-resp{ max-width: 100%; height: auto;}
.about:hover figcaption{ transform: translate(-10px,-10px); box-shadow: 10px 10px var(--g); opacity: .9; visibility: visible;}


.wrap-3{ background: var(--g); text-align: center; padding: 90px 0 60px; color: #fff;}
.wrap-3 p{ font: 700 72px var(--mont);}
.wrap-3 small{ font-size: 14px; display: inline-block; margin-bottom: 30px; }


.wrap-4{ padding: 90px 0 80px; background: #fff; text-align: center; color: #333;}
.icon{ width: 90px; text-align: center; margin-top: 40px;}
.text{ text-align: left; margin: 40px 0;}
.text h3{ font-size: 14px;}
.wrap-4 .row{ background: #e5e5e5; gap: 1px 0;}
.wrap-4 .col-4{ background: #fff;}


.wrap-5{ padding: 100px 0 0 0; background: url(../img/bg-2.webp) no-repeat center/cover; text-align: center; position: relative;}
.iphone{ transform: translate(-90px, 52px);}


.wrap-6{ padding: 100px 0; text-align: center; }
.wrap-6 img{ margin-top: 80px;}
.accordion{ text-align: left; margin-top: 80px; }
.accordion li{ margin-bottom: 10px; border: 1px solid #e5e5e5; }
.accordion a{ display: block; padding: 13px; color: gray; border-bottom: 1px solid #e5e5e5; }
.accordion a span{ float: right; }
.accordion a img{ vertical-align: middle; margin-right: 20px; margin-top: 0;}
.accordion p{ padding: 13px; color: #999; font: italic 300 15px/24px var(--rob); display: none;}
.accordion li:first-child p{ display: block;}


.wrap-7{ background: #f8f8f8; padding: 70px 0; }
.reviews{ padding: 0 110px; position: relative;}
.pic{ width: 150px; flex-shrink: 0; aspect-ratio: 1/1; border: 2px solid var(--g); display: grid; place-items: center; margin-right: 60px;}
.reviews button{ border: none; background: none; top: 50%; }
.prev{ position: absolute; left: 0;}
.next{ position: absolute; right: 0;}


.wrap-8{ padding: 90px 0; text-align: center;}
.box{ position: relative; margin: 80px 0  30px;}
.over{ position: absolute; inset: 0; background: var(--grad); opacity: .9; place-items: center; color: #fff; display: grid; transition: .3s; opacity: 0; visibility: hidden;}
.box:hover .over{  opacity: .9; visibility: visible;  box-shadow: 10px 10px var(--g);}
.social li:not(:first-child){ border-left: 1px solid var(--r); }
.social a{ display: block; width: 56px; line-height: 56px; text-align: center; background: var(--y); color: var(--r);}
.social li:hover a{ background: var(--r); color: var(--y);}


.wrap-9{ background: #f8f8f8; padding: 70px 0; }

.wrap-10{ text-align: center; padding: 90px 0;}


/* responsive s*/
@media screen and (max-width:1250px){
    html{ font-size: 13px;}
    .slides{ padding: 80px 90px}
 }
 @media screen and (max-width:980px){
     .col-t-none{ display: none; }
     .col-t-1{ flex-basis: 8.33%; max-width: 8.33%;}
     .col-t-2{ flex-basis: 16.66%; max-width: 16.66%;}
     .col-t-3{ flex-basis: 25%; max-width: 25%;}
     .col-t-4{ flex-basis: 33.33%; max-width: 33.33%;}
     .col-t-5{ flex-basis: 41.66%; max-width: 41.66%;}
     .col-t-6{ flex-basis: 50%; max-width: 50%;}
     .col-t-7{ flex-basis: 58.33%; max-width: 58.33%;}
     .col-t-8{ flex-basis: 66.66%; max-width: 66.66%;}
     .col-t-9{ flex-basis: 75%; max-width: 75%;}
     .col-t-10{ flex-basis: 83.33%; max-width: 83.33%;}
     .col-t-11{ flex-basis: 91.66%; max-width: 91.66%;}
     .col-t-12{ flex-basis: 100%; max-width: 100%;}
     .slides{ padding: 80px 0px}
     .wrap-1 nav li{ margin:  0 16px;}
 }
 @media screen and (max-width:767px){
     html{ font-size: 12px;}
     .col-m-6{ flex-basis: 50%; max-width: 50%;}
     .col-m-12{ flex-basis: 100%; max-width: 100%;}
     .wrap-1 .lg {font: 700 6rem / 6rem var(--mont)}
     .icons li{ margin: 0 10px;} 
     .iphone{ position: absolute; right: 0; bottom: -70px; transform: translate(0px, 0); max-width: 50%; }
 }
 @media screen and (max-width:460px){
     .col-p-1{ flex-basis: 8.33%; max-width: 8.33%;}
     .col-p-2{ flex-basis: 16.66%; max-width: 16.66%;}
     .col-p-3{ flex-basis: 25%; max-width: 25%;}
     .col-p-4{ flex-basis: 33.33%; max-width: 33.33%;}
     .col-p-5{ flex-basis: 41.66%; max-width: 41.66%;}
     .col-p-6{ flex-basis: 50%; max-width: 50%;}
     .col-p-7{ flex-basis: 58.33%; max-width: 58.33%;}
     .col-p-8{ flex-basis: 66.66%; max-width: 66.66%;}
     .col-p-9{ flex-basis: 75%; max-width: 75%;}
     .col-p-10{ flex-basis: 83.33%; max-width: 83.33%;}
     .col-p-11{ flex-basis: 91.66%; max-width: 91.66%;}
     .col-p-12{ flex-basis: 100%; max-width: 100%;}
     nav{ display: none;}
     .wrap-1 .kus{ font-size: 42px;}
     .wrap-1 .lg{ font-size: 5rem;}
     .menu{ display: inline-block; margin-left: 10px;}
     .pager p{ font-size: 14px;}
     .pager p b{ font-size: 16px;}
     .col-auto{ flex-basis: 50%; }
 }